<mat-toolbar>Statistics</mat-toolbar>

<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <div>
          <canvas id="pieChart" ></canvas>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            </div>
          </div>
        </div>
      </div>
      <br>
  <a role="button" (click)="Logout()">Logout</a>
</div>
